@model MovieDatabase.Web.ViewModels.MovieNewViewModel
@{
    ViewData["Title"] = "New";
}


<p class="Page-Title">Create a movie</p> 



<form asp-controller="Movie" asp-action="CreateMovie" method="post" role="form">
    <input class="Register-input" type="text" name="OriginalName" placeholder="Original name" />
    <input class="Register-input" type="text" maxlength="5" name="Country" placeholder="Country" />
    <input class="Register-input" type="url" name="TitleImageUrl" placeholder="URL of image" />
    <input class="Register-input" type="number" name="createdYear" placeholder="Year created" />
    <input class="Register-input" type="number" name="length" placeholder="lenght" />
    <input class="Register-input" type="text" name="description" placeholder="description" />
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>