@model MovieDatabase.Web.ViewModels.PersonNewViewModel
@{
    ViewData["Title"] = "New";
}


<p class="Page-Title">Create a Person</p>

<hr />

<form asp-controller="Person" asp-action="NewPerson" method="post" role="form">
    <input class="Register-input" type="text" name="Name" placeholder="Name" />
    <input class="Register-input" type="text" name="Surname" placeholder="Surname" />
    <input class="Register-input" type="url" name="ProfilePictureUrl" placeholder="URL of image" />
    <input class="Register-input" type="date" name="Birthday" placeholder="Birthday" />
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>