@model MovieDatabase.Web.ViewModels.DetailUserViewModel
@{
    ViewData["Title"] = "Detail";
}

<p class="Page-Title">User Detail</p>



@{ string disabled;
    if (User.Claims.Count() != 0 && User.FindFirst(ClaimTypes.Role).Value == "Administrator")
    {

        disabled = "";
    }
    else
    {
        disabled = "disabled";
    }
}



<div class="row">
    <div class="col-md-12">
        <div class="card mb-3 our-light-green">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img class="bg-placeholder-img rounded-left" width="100%" height="200" src="https://image.flaticon.com/icons/png/512/21/21104.png" alt="@Model.UserModel.Username" />
                </div>
                <div class="col-md">

                    <div class="card-body">
                        <form asp-controller="Person" asp-action="UpdatePerson" method="post">
                            <input type="hidden" name="ID" value="@Model.UserModel.Id" />
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg " name="UserModel.Username" value="@Model.UserModel.Username" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" name="UserModel.Email" value="@Model.UserModel.Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="mb-0">Role</label>
                                        @{ if (string.IsNullOrEmpty(disabled))
                                            {
                                                <select class="browser-default custom-select" asp-for="UserModel.Role" asp-items="Html.GetEnumSelectList<Roles>()">
                                                </select>
                                            }
                                            else
                                            {
                                                <select disabled class="browser-default custom-select" asp-for="UserModel.Role" asp-items="Html.GetEnumSelectList<Roles>()">
                                                </select>
                                            }

                                        }

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex justify-content-end">
                                        <input type="submit" class="btn btn-primary margin-top" value="Save changes" />
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <form asp-controller="User" asp-action="ChangeMyPassword" method="post" role="form">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-11">
                                        <input class="form-control form-control-lg" type="password" name="Password" placeholder="Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-11">
                                        <input class="form-control form-control-lg" type="password" name="PasswordConfirm" placeholder="Confirm Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 d-flex justify-content-md-center">
                                    <input type="submit" class="btn btn-detail" value="Change password" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}