
@model MovieDatabase.Web.ViewModels.UserListViewModel

<p class="Page-Title">User list</p>

<hr />
<table class="List">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Role</th>
        <th></th>
    </tr>
    @{
        foreach (var user in Model.listUser.Data)
        {
            <partial name="_UserListItem" model="user" />
        } }
</table>
<div class="page-switcher">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>