@model MovieDatabase.Web.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

<h4>RegisterViewModel</h4>
<hr />

<form asp-controller="User" asp-action="Insert" method="post" role="form">
    <input asp-for="UserModel.Email" type="email" name="Email" value="Email" />
    <input asp-for="UserModel.Username" type="text" name="Username" value="Username" />
    <input asp-for="UserModel.Password" type="password" name="Password" value="Password" />
    <input asp-for="UserModel.PasswordConfirm" type="password" name="PasswordConfirm" value="PasswordConfirm" />
    <input type="submit" class="btn btn-primary" value="Register" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
