@model MovieDatabase.Web.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

<h4>PersonDetailViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<form asp-action="Insert" method="post" role="form">
    <input type="email" name="email" value="@Model.UserModel.Email" />
    <input type="text" name="username" value="@Model.UserModel.Username" />
    <input type="password" name="password" value="@Model.UserModel.Password" />
    <input type="password" name="confirmPass" value="@Model.UserModel.PasswordConfirm" />
    <input type="submit" class="btn btn-primary" value="Register" />
</form>