@model MovieDatabase.Web.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

    <p class="Page-Title">Registration</p>

<hr />

<form asp-controller="User" asp-action="Insert" method="post" role="form">
    <input class="Register-input" asp-for="UserModel.Email" type="email" name="Email" placeholder="Email" />
    <input class="Register-input" asp-for="UserModel.Username" type="text" name="Username" placeholder="Username" />
    <input class="Register-input" asp-for="UserModel.Password" type="password" name="Password" placeholder="Password" />
    <input class="Register-input" asp-for="UserModel.PasswordConfirm" type="password" name="PasswordConfirm" placeholder="Confirm Password" />
    <input type="submit" class="btn btn-primary" value="Register" />
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
