@model Movie
@{
    ViewData["Title"] = "_MovieListItem";
}

    <tr class="Movie-List-Item">
        <td>Photo</td>
        <td class="Movie-List-Item-Caption">@Model.OriginalName</td>
        <td class="Movie-List-Item-Rating">@Model.Length</td>
    </tr>

