
@{
    ViewData["Title"] = "_MovieListItem";
}

    <tr class="Movie-List-Item">
        <td>Photo</td>
        <td class="Movie-List-Item-Caption">Super Cool Movie</td>
        <td class="Movie-List-Item-Rating">9/10</td>
    </tr>

