/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin-top: 10px;
    align-self: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    background-color: lightgray;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(90, 95, 99, 0.10);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: lightgray;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* General styles
--------------------------------------------------*/
.Page-Title {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 0;
    width: 100%;
    color: #000000;
}

.btn-delete {
    color: #fff;
    background-color: #c26f1b;
    border-color: #e2892e;
    align-self: center;
}

.top-navbar {
    border-bottom: 1px solid #006432;
    background-color: #006432 !important;
}

.nav-Item {
    color: white;
}

.nav-Link:hover {
    color: white;
    background-color: #640032;
    text-decoration: none;
    border-radius: 0.25rem;
}

.nav-Link {
    color: white;
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    background-color: transparent;
    text-decoration: none;
    border:none;
}
/*User CSS
 --------------------------------------------------*/
.User-button {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    float: right;
    width: 200px;
}

    .User-button:hover {
        background-color: #640032;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        color: white;
    }

        .User-button:hover .User-button-dropdown {
            display: block;
            transition-delay: 2s;
            width: 200px;
        }

.User-button-dropdown {
    display: none;
    z-index: 2;
    position: absolute;
    padding: 0.5rem;
    background-color: #640032;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-left: -1rem;
}

.Login-input {
    border: thin solid #007bff;
    border-radius: 0.25rem;
    margin-top: 10px;
    padding: 0.1rem;
}

    .Login-input::placeholder {
        color: black;
    }

.Register-input {
    border: thin solid #007bff;
    border-radius: 0.25rem;
    margin-top: 10px;
    padding: 0.1rem;
    width: 20px;
    min-width: 250px;
    margin-right: 80%;
}

    .Register-input::placeholder {
        color: black;
    }

.Login-input::placeholder {
    color: black;
}
/* List CSS
--------------------------------------------------*/
.List {
    width: -webkit-fill-available;
}

    .List caption {
        font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        margin: 0;
        width: max-content;
        float: left;
        color: #000000;
    }

.List-Item {
    background: linear-gradient(to right,lightgray,#e0e0e0);
    text-align: left;
    width: 60px;
    height: 90px;
    padding: 10px;
}

    .List-Item:nth-child(2n+1) {
        background: linear-gradient(to right,lightgray, #c6c6c6);
    }

.List-Item-Rating {
    width: 60px;
    text-align: center;
}

.List-Item-Date {
    width: 100px;
    text-align: center;
}

.List-Item-Photo {
    width: 60px;
    text-align: center;
    margin-right: 20px;
}

.List-Item-Photo-img {
    width: 60px;
    height: inherit;
    border: none;
    margin-right: 20px;
}

.List-Item-Btn {
    width: 100px;
    text-align: center;
}

.page-switcher {
    margin: 20px;
    align-self: center;
}

.page-item.disabled .page-link {
    border: 1px solid grey;
}

.page-link {
    background-color: #006432 !important;
    color: white !important;
    border: 1px solid grey;
}

    .page-link:hover {
        background-color: #640032 !important;
        color: white !important;
        border: 1px solid grey;
    }
